<section class="grid grid--1x6">
            
    <div class="grid__image grid__image--1 image__postion">
        <div class="overlay">
            <p>Hellow</p>
        </div>
    </div>
   
    <div class="grid__image grid__image--1 image__postion">
        <div class="overlay">
            <p>Hellow</p>
        </div>
    </div>
   
    <div class="grid__image grid__image--1 image__postion">
        <div class="overlay">
            <p>Hellow</p>
        </div>
    </div>
   
    <div class="grid__image grid__image--1 image__postion">
        <div class="overlay">
            <p>Hellow</p>
        </div>
    </div>
   
    <div class="grid__image grid__image--1 image__postion">
        <div class="overlay">
            <p>Hellow</p>
        </div>
    </div>
   
    <div class="grid__image grid__image--1 image__postion">
        <div class="overlay">
            <p>Hellow</p>
        </div>
    </div>
   
    <div class="grid__image grid__image--1 image__postion">
        <div class="overlay">
            <p>Hellow</p>
        </div>
    </div>
   
    <div class="grid__image grid__image--1 image__postion">
        <div class="overlay">
            <p>Hellow</p>
        </div>
    </div>
   
    <div class="grid__image grid__image--1 image__postion">
        <div class="overlay">
            <p>Hellow</p>
        </div>
    </div>
   
    <div class="grid__image grid__image--1 image__postion">
        <div class="overlay">
            <p>Hellow</p>
        </div>
    </div>
   


</section>