   
  <section class="services">
    <div class="container">
      <div class="card">
          <span class="card__icon card--primary">
              <svg class="icon icon--white">
                  <use xlink:href="images/sprite.svg#clock"></use>
              </svg>
          </span>
          <span class="card__content">
              <h3>Professional Photograher</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda!</p>
          </span>
                 
            
        </div>

        <div class="card">
          <span class="card__icon card--green">
              <svg class="icon icon--white">
                  <use xlink:href="images/sprite.svg#clock"></use>
              </svg>
          </span>
          <span class="card__content">
              <h3>Album Desinging &  Editing</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda!</p>
          </span>
                 
            
        </div>
        <div class="card">
          <span class="card__icon card--gold">
              <svg class="icon icon--white">
                  <use xlink:href="images/sprite.svg#clock"></use>
              </svg>
          </span>
          <span class="card__content">
              <h3>Cinematography</h3>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda!consectetur adipisicing elit. Assumenda!Assumenda!</p>
          </span>
                 
            
        </div>
       
       
    </div>
</section>