
 

  .container {
    
    margin: 0 auto;
    width: 95%;
  
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);

  }


  .video-stream {
   
    -o-object-fit: cover;
    object-fit: cover;
    transition: 0.3s;
  }
  .video-stream:hover .video-js .vjs-big-play-button {
    opacity: 1;
  }
  .video-js .vjs-control-bar {
    display: flex;
    align-items: center;
  }

  .vjs-poster {
    background-size: 150%;
  }

  .video-js .vjs-control-bar {
    width: 95%;
    position: absolute;
    bottom: 5px;
    margin:0 auto;
    opacity: 0;
    right: 0;
    border-radius: 10px;
    height: 4em;
    background-color: #2b333f;
    background-color: rgba(43, 51, 63, 0.7);
  }

  .video-js
  {
      transition: .5s;
  }

  .video-js:hover
  {
        
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
    transform: scale(1.1);  
  }
  .video-js:hover .vjs-control-bar
  {
      opacity: 1;
  }
  @media screen and (max-width: 625px) {
    .video-js .vjs-control-bar {
      padding-left: 0;
    }
  }

  .video-js:hover .vjs-big-play-button {
    background-color: rgba(43, 51, 63, 0.5);
  }

  .video-js .vjs-big-play-button {
    transition: 0.3s;
 
    border: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .video-js .vjs-big-play-button:hover {
    background-color: rgba(43, 51, 63, 0.7);
    border-color: transparent;
  }

  
  @media screen and (max-width: 625px) {
    .vjs-play-control:after {
      display: none;
    }
  }

  .vjs-menu-button-inline .vjs-menu {
    top: 4px;
  }

  .video-js .vjs-control:before,
  .video-js .vjs-time-control {
    line-height: 40px;
  }


 
  @media screen and (max-width: 625px) {
    button.vjs-play-control.vjs-control.vjs-button {
      margin-left: 0;
    }
  }

  .vjs-icon-fullscreen-enter:before,
  .video-js .vjs-fullscreen-control:before {
    content: "";
    position: absolute;
    display: block;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.54 0h3.38c1.41 0 2.54 1.15 2.54 2.561V5.97c0 1.42-1.13 2.56-2.54 2.56H2.54C1.14 8.53 0 7.39 0 5.97V2.561C0 1.15 1.14 0 2.54 0zm0 11.47h3.38c1.41 0 2.54 1.14 2.54 2.56v3.41c0 1.41-1.13 2.56-2.54 2.56H2.54C1.14 20 0 18.85 0 17.44v-3.41c0-1.42 1.14-2.56 2.54-2.56zM17.46 0h-3.38c-1.41 0-2.54 1.15-2.54 2.561V5.97c0 1.42 1.13 2.56 2.54 2.56h3.38c1.4 0 2.54-1.14 2.54-2.56V2.561C20 1.15 18.86 0 17.46 0zm-3.38 11.47h3.38c1.4 0 2.54 1.14 2.54 2.56v3.41c0 1.41-1.14 2.56-2.54 2.56h-3.38c-1.41 0-2.54-1.15-2.54-2.56v-3.41c0-1.42 1.13-2.56 2.54-2.56z' fill='%23fff'/%3e%3c/svg%3e");
    background-size: 11px;
    background-position: center;
    background-position-y: 14px;
    background-repeat: no-repeat;
    opacity: 0.6;
  }

  .vjs-playback-rate .vjs-playback-rate-value {
    font-size: 1.1em;
    line-height: 3.5em;
    opacity: 0.6;
    font-weight: 700;
    font-family: var(--body-font);
  }

  .video-js .vjs-playback-rate {
    width: 2.2em;
  }

  .video-js.vjs-fluid {
    border-radius: 1.5rem;
    overflow: hidden;
  }





  /* my Video*/

  .video-container
  {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
  }

  .video-stream
  {
      padding: 1rem;
      outline: none;
  }

@media (min-width:540px) and (max-width:768px)
{
    .video-container
    {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1rem;
    }
    .video-js.vjs-fluid {
        border-radius: 0.5rem;
        overflow: hidden;
      }
    
}
  @media screen and (min-width:768px)
  {
      
      .video-js.vjs-fluid {
        border-radius: 1rem;
        overflow: hidden;
      }
      .video-container
      {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          grid-column-gap: 1rem;
      }
  }
