@charset "UTF-8";
:root {
  --color--primary: #f6f6f6;
  --color--heading: #262626;
  --color--white: #fff;
  --color--accent: #2c87f0;
  --color--black: #222222;
  --color--active: #81b838;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  width: 95%;
  margin: 0 auto;
}
/* Typography */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  color: var(--color--black);
  background: var(--color--primary);
  font-size: 2.4rem;
  line-height: 1.5;
  margin: 0;
}
h1,
h2,
h3 {
  color: var(--color-headings);
  margin-bottom: 1rem;
  line-height: 1.1;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}
p {
  margin-top: 0;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/* Links */

a {
  text-decoration: none;
  text-transform: uppercase;
}

.active {
  color: var(--color--active);
}

.link {
  font-weight: 600;
  font-size: 2rem;
}

/* Buttons */
.btn {
  font-size: 1.4rem;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  border-radius: 0.5rem;
  outline: none;
}

.btn--outlined {
  background: var(--color--primary);

  color: var(--color--accent);
  border: 1px solid var(--color--accent);
}

.btn--accent {
  background: var(--color--accent);

  color: var(--color--white);
  border: 0;
}

/* Nav*/

.nav {
  background: var(--color--white);
  width: 100%;
  height: 7rem;
  display: flex;
  justify-items: center;
  align-items: center;
  box-shadow: 0 0 100px 20px rgb(245, 245, 245);
  z-index: 111;
}
.nav .container {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.brand {
  font-weight: 800;
  font-size: 1.5rem;
  white-space: nowrap;
  font-family: "Roboto", sans-serif;
  color: var(--color--heading);
  letter-spacing: 1px;
  
  height: 4rem;
}

.brand img{
  height: 100%;
}
.list {
  list-style: none;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  color: var(--color--heading);
  font-size: 1rem;
  margin: 0;
  align-items: center;
  display: inline-flex;
}
.nav__item {
  margin: 0 1rem;
  white-space: nowrap;
}

.toggler
{
  width: 3rem;
  height: 3rem;
  color: #000;
  cursor: pointer;
  transition: .8s ;
}

.mobile-menu
{
  
  position: absolute;
  width: 75%;
  margin-top: 4rem;
  left: 12%;
  opacity: 0;
  transition: .1s ;


}
.menu-expanded .mobile-menu
{
 opacity: 1;
  animation: myfirst 1s 1;
  animation-direction: normal;
}

@keyframes myfirst {
  0%   {  top: 0px;}
  100% {  top: 60px;}
}

.toggler .menu-icon
{
  width: 100%;
  height: 100%;
}


.toggler .arrow
{
  width: 2rem;
  height: 1.6rem;
  display: none;
  transition: 0.3s;
}

.mobile-menu ul
{
  
  padding: 0;
  background: white;
  
  list-style: none;
  
}
.mobile-menu li 
{
  text-align: center;
  padding: 1.2rem 0rem;
  font-size: 1.9rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  letter-spacing: .5px;
}

.mobile-menu a
{
  color: var(--color--heading);
  font-weight: 600;
}





.mobile-menu li:not(:last-child)
{
  border-bottom: 1px solid rgb(233, 233, 233);
}

.menu-close
{
  width: 5rem;
  height: 5rem;
  background: var(--color--primary);
  border-radius: 50%;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}
.menu-close .icon
{
  width: 4rem;
  height: 100%;
}



@media screen and (max-width: 600px) {
  .list {
    display: none;
  }
}

@media screen and (min-width:600px)
{
  .toggler
  {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 85%;
  }
  .list {
    font-weight: 800;
    font-size: 1.3rem;
  }
  .toggler
  {
    display: none;
  }
  
}

/* Grid Gallery*/
/*  TODO:this is used for both galleries */
.gallery
{
  background: var(--color--white);

}


.grid {
  display: grid;
}


/* TODO:delete all this css if design 2 is finallized*/
.grid--1x6 {
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (min-width: 680px) {
  .grid--1x6 {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1,1fr);
    grid-gap: 0;
  }

  .grid__image {
    width: 100%;
    position: relative;
    height: 20rem;
  }
}

@media screen and (max-width: 680px) {
  .grid__image {
    position: relative;
    width: 100%;
    height: 12rem;
    display: flex;
    text-align: center;
    justify-items: center;
  }
}

.grid__image--1 {
  background: url("../images/1.jpeg");

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.grid__image--2 {
  background: url("../images/hero-3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.grid__image--3 {
  background: url("../images/7.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.grid__image--4 {
  background: url("../images/hero-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.grid__image--5 {
  background: url("../images/5.JPG");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.grid__image--6 {
  background: url("../images/6.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.grid__image--8 {
  background: url("../images/8.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}.grid__image--9 {
  background: url("../images/9.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}.grid__image--10 {
  background: url("../images/10.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.grid__image--11 {
  background: url("../images/11.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;

  background-color: rgba(35, 35, 35, 0.8);
}
.overlay p {
  color: white;
  position: absolute;
  bottom: 0;
  left: 50px;
  font-size: 1.2rem;
}


.grid__image:hover .overlay {
  opacity: 1;
}

.grid__image:hover   {
    transform:scale(0.9);
    transition: .6s;
}

/* ICons */



.icon--small {
  width: 30px;
  height: 30px;
}

.icon--white {
  fill: var(--color--white);
  color: var(--color--white);
}
.icon--gold
{
  color: gold;
}

/* Services**/

.services
{
  background: var(--color--white);

  padding-bottom: 2rem;
  
}
.services .service__grid {

  display: grid;
 
  grid-template-columns: repeat(1, 1fr);
}

.section__header
{
  text-align: center;
  margin-bottom: 5rem;
  padding-top: 3rem;
}

.section__header h3{
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.section__header--dot
{
  min-width: 15px;
  min-height: 15px;
  color: black;
  margin-top: -6px;
  margin-left: -5px;
  z-index: 111;
  border: 5px solid white;
  background: black;
  position: absolute;
  border-radius: 50%;
}

.section__header--line
{
  min-width: 120px;
  margin-left: -60px;
  position: absolute;
  border-bottom: 1px solid #000;
}

@media screen and (min-width: 768px) {
  .services .service__grid {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-column-gap: 2rem;
    margin-top: 4rem;
  }
}


/* collapsible */
.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__heading {
  margin-top: 0;

  text-transform: uppercase;
}

.collapsible__chevron {
  transform: rotate(-90deg);
  transition: transform 0.3s;
}

.collapsible__content {
padding-bottom: 2rem;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__chevron {
  transform: rotate(0);
}

/* footer*/
.footer {
  background: var(--color--heading);
  padding-top: 3rem;
  
}
.footer__logo
{
  height: 6rem;
}

.footer .collapsible__heading
{
  color: var(--color--primary);
  font-size: 1.6rem;

}

.footer li {
  list-style: none;
  color: rgb(131, 131, 131);
  font-size: 1.4rem;
  padding: 0.5rem;
  
}

.footer li:hover
{
  color:var(--color--primary);
}
.footer ul{
  padding:0;
  margin: 0;
}

.footer__section
{
  border-bottom: 1px solid #3f3e3e;
  padding-top: 1rem;
}

.footer__brand
{
  padding-top: 2rem;
  justify-self: center;
  text-align: center;
}

.footer__brand .copyrights
{
  color: var(--color--primary);
  opacity: .5;
  font-size: 1.1rem;
}
.footer__brand .thankyou
{
  color: var(--color--primary);
  font-size: 1.1rem;
  opacity: .5;
}

.footer__brand h3
{
  color: var(--color--primary);
  margin: 0;
}

@media screen and (min-width:768px)
{
  .grid--1x4
  {
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  }
  .footer__brand
  {
    order:-1;
    
    padding: 1rem 0;
    justify-self: flex-start;
  }

  .footer__brand .copyrights
  {
    font-size: 1.3rem;
  }
    .footer__section
    {
      border-bottom: 0;
      padding-top: 1rem;
    }

  .footer__brand h3
  {
    color: var(--color--primary);
    margin: 0;
  }
 
  .footer .collapsible__chevron
  {
    opacity: 0;
  }

}



/* Hero */
.hero
{
  background: url("../images/hero-2.jpg");
 
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 50rem;
  
 
}

.hero__content
{
  background: rgba(22, 22, 2, 0.6);
  width: 100%;
  height: 50rem;

  color: var(--color--primary);
  display: flex;
  align-items: center;
  text-align: center;
}

.hero__content h3
{
  font-size: 3rem;
  margin: 0;
  text-transform: uppercase;

}

.hero__content .container 
{
  width: 80%;
}
.hero__content .welcome
{
  text-transform: uppercase;
}
.hero__content p{
  font-size: 1.5rem;
  letter-spacing:0.5px;
  padding:  1.5rem 0;
}

/* cards*/

.card {
  border-radius: 7px;
  box-shadow: 0 0 100px 0px #eeeeee; 
  overflow: hidden;
  padding: 2rem;
  transition: .5s;
  margin-top: 2rem;;
 
}


.services .card:hover  {
  transform: scale(1.05);
}


.card--primary .card__header {
  background: var(--color-primary);
  color: #fff;
}

.card--secondary .card__header {
  background: var(--color-secondary);
  color: #fff;
}

.card--primary .badge--primary {
  background: #126de4;
}

.card--secondary .badge--secondary {
  background: #02cdf1;
}

.card .icon
{
  width: 4rem;
  height: 4rem;
}
.card h3{
  font-size: 1.6rem;
  padding-top: 2rem;
  margin: 0;
  text-transform: uppercase ;
  color: var(--color--heading);
}
.card__body p 
{
  padding-top: 1rem;
  font-size: 1.4rem;;
}

.card--primary
{
  border: 1px solid #d1e1f6;
}

@media screen and (min-width:768px)
{
  .card h3{
    font-size: 2rem;;
  }
  .card__body p 
  {
    font-size: 2rem;
  }
  .card .icon
{
  width: 4.5rem;
  height: 4.5rem;
}

}




/* Video Gallery */

.video-stream {
   
  -o-object-fit: cover;
  object-fit: cover;
  transition: 0.3s;
}
.video-stream:hover .video-js .vjs-big-play-button {
  opacity: 1;
}
.video-js .vjs-control-bar {
  display: flex;
  align-items: center;
}

.vjs-poster {
  background-size: 150%;
}

.video-js .vjs-control-bar {
  width: 95%;
  position: absolute;
  bottom: 5px;
  margin:0 auto;
  opacity: 0;
  right: 0;
  border-radius: 10px;
  height: 4em;
  background-color: #2b333f;
  background-color: rgba(43, 51, 63, 0.7);
}

.video-js
{
    transition: .5s;
}

.video-js:hover
{
      
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.3);
  /*transform: scale(1.1);   */
}
.video-js:hover .vjs-control-bar
{
    opacity: 1;
}
@media screen and (max-width: 625px) {
  .video-js .vjs-control-bar {
    padding-left: 0;
  }
}

.video-js:hover .vjs-big-play-button {
  background-color: rgba(43, 51, 63, 0.5);
}

.video-js .vjs-big-play-button {
  transition: 0.3s;

  border: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.video-js .vjs-big-play-button:hover {
  background-color: rgba(43, 51, 63, 0.7);
  border-color: transparent;
}


@media screen and (max-width: 625px) {
  .vjs-play-control:after {
    display: none;
  }
}

.vjs-menu-button-inline .vjs-menu {
  top: 4px;
}

.video-js .vjs-control:before,
.video-js .vjs-time-control {
  line-height: 40px;
}



@media screen and (max-width: 625px) {
  button.vjs-play-control.vjs-control.vjs-button {
    margin-left: 0;
  }
}

.vjs-icon-fullscreen-enter:before,
.video-js .vjs-fullscreen-control:before {
  content: "";
  position: absolute;
  display: block;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.54 0h3.38c1.41 0 2.54 1.15 2.54 2.561V5.97c0 1.42-1.13 2.56-2.54 2.56H2.54C1.14 8.53 0 7.39 0 5.97V2.561C0 1.15 1.14 0 2.54 0zm0 11.47h3.38c1.41 0 2.54 1.14 2.54 2.56v3.41c0 1.41-1.13 2.56-2.54 2.56H2.54C1.14 20 0 18.85 0 17.44v-3.41c0-1.42 1.14-2.56 2.54-2.56zM17.46 0h-3.38c-1.41 0-2.54 1.15-2.54 2.561V5.97c0 1.42 1.13 2.56 2.54 2.56h3.38c1.4 0 2.54-1.14 2.54-2.56V2.561C20 1.15 18.86 0 17.46 0zm-3.38 11.47h3.38c1.4 0 2.54 1.14 2.54 2.56v3.41c0 1.41-1.14 2.56-2.54 2.56h-3.38c-1.41 0-2.54-1.15-2.54-2.56v-3.41c0-1.42 1.13-2.56 2.54-2.56z' fill='%23fff'/%3e%3c/svg%3e");
  background-size: 11px;
  background-position: center;
  background-position-y: 14px;
  background-repeat: no-repeat;
  opacity: 0.6;
}

.vjs-playback-rate .vjs-playback-rate-value {
  font-size: 1.1em;
  line-height: 3.5em;
  opacity: 0.6;
  font-weight: 700;
  font-family: var(--body-font);
}

.video-js .vjs-playback-rate {
  width: 2.2em;
}

.video-js.vjs-fluid {
  border-radius: 1.5rem;
  overflow: hidden;
}





/* my Video*/

.video-container
{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.video-stream
{
    padding: 1rem;
    outline: none;
}

@media (min-width:540px) and (max-width:768px)
{
  .video-container
  {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 1rem;
  }
  .video-js.vjs-fluid {
      border-radius: 0.5rem;
      overflow: hidden;
    }
  
}
@media screen and (min-width:768px)
{
    
    .video-js.vjs-fluid {
      border-radius: 1rem;
      overflow: hidden;
    }
    .video-container
    {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 1rem;
    }
}




/* Gallery Grid Design 2 */

.gallery
{
  padding-bottom: 5rem;
}
.grid-image
{
  max-width:25 rem;
  max-height: 100%;
}

.grid-image img
{
  width: 100%;
  background-position: center;
}


@media screen and (min-width:600px)
{
  
  .grid--1x3
  {
    grid-template-columns: repeat(3, 1fr); 
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
  }
}

.button-section
{
  padding-top: 4rem;
  display: flex;
  justify-content: center;
}



/*pricing */
.pricing
{
  background: var(--color--accent);
  min-height: 40rem;
  color: var(--color--primary);
  padding: 1.5rem 0;
 
}
.pricing-container
{
  width: 85%;
  margin: 0 auto;
}
.pricing__header
{
  text-align: center;
}
.pricing__header h3
{
  font-size: 2.5rem;
  text-transform: uppercase;
}
.pricing__content
{
  padding: 1.2rem 0;
  text-align: center;
 
}
.pricing__content p 
{
  font-size: 1.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.5px;
}
.pricing__content .note
{
  color: var(--color--primary);
  opacity: .4;
  font-size: 1rem;
}

.pricing__footer
{
  text-align: center;
}

@media screen and (min-width:768px)
{
  .pricing-container
  {
    width: 65%;
  }
    .pricing__content p 
  {
    font-size: 2rem;
  }
}


/* Videosection */

.videosection
{
  background: var(--color--white);
}
.videossection__content
{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.videossection__content .card
{
  padding: 0;
  background: var(--color--white);
}
.videossection__content video
{
  width: 100%;
  height: 100%;
}
.videossection__content .card__body
{
  padding:1rem  2rem;
}
.videosection_footer
{
  display: flex;
  justify-content: center;
  padding: 4rem 0;
}


@media screen and (min-width:768px)
{
  .videossection__content
{
  
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap:3rem;
}
}


/* Typo*/

.lato h1,.lato h2,.lato h3,.lato h4,.lato h5,.lato p{
  font-family: 'Lato', sans-serif ;

  
}

.poppins h1, .poppins h2,.poppins h3,.poppins h4,.poppins h5,.poppins p{
  font-family: 'Poppins', sans-serif;
  
}
.quicksand p, .quicksand h1, .quicksand h2, .quicksand h3, .quicksand, h4 ,.quicksand h5{
  font-family: 'Quicksand', sans-serif;
 
}